# Authentication Configuration
SESSION_SECRET=AW$2b$12$LQv3c1yqBWVHxkd0LREkCOYz6TtxMQJqhN8/FewdBQ72SJWJzX4gS
AUTH_USERNAME=etugrand
AUTH_PASSWORD_HASH=$2a$12$8cTL4e.CMHfFsDTcmR3rZ.lkZa3vFO.OslER6qo8Wetl24osNfUwq

# General settings
CORS_ORIGINS=*
REDIS_ENABLED=true
REDIS_KEY_PREFIX=tts_
REDIS_URL=redis://default:3QTRrZIT75us4wo7hUCSKk1ubie7Xw4jDtVlBD8dqhmgLLodFVzj8dLus9R1O5gp@158.220.107.177:6380/3

S3_ENABLED=true
S3_ACCESS_KEY=OUaTc1EekEqyyTedEkl4
S3_BUCKET_NAME=awesome-tts
S3_ENDPOINT_URL=https://minio-oc0cgw4g48oogwsks8soc4wo.etugrand.com
S3_PUBLIC_URL=
S3_REGION=us-east-1
S3_SECRET_KEY=IioYIA1BbWNq4B4mi2XXr48hBwHQx6LN1jXfTHQS

PUBLIC_URL=https://tts.dahopevi.com

API_KEY=sk-awesometts-f8a9c2e1b6d4f7a3c9e5b2d8f1a6c4e7b9d2f5a8c1e4b7d0f3a6c9e2b5d8f1a4
DEFAULT_VOICE=en-US-AvaNeural
DEFAULT_RESPONSE_FORMAT=mp3
DEFAULT_SPEED=1.0
DEFAULT_LANGUAGE=en-US
REQUIRE_API_KEY=true
REMOVE_FILTER=false
EXPAND_API=true
DETAILED_ERROR_LOGGING=true

CHATTERBOX_URL=http://chatterbox-tts:9001
KOKORO_URL=http://kokoro-onnx:9002
OPENAI_API_KEY=sk-awesometts-f8a9c2e1b6d4f7a3c9e5b2d8f1a6c4e7b9d2f5a8c1e4b7d0f3a6c9e2b5d8f1a4
OPENAI_EDGE_TTS_URL=http://openai-edge-tts:5050
PORT=5050
